<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CraigsList Jr.</title>
</head>

<body>

  <h1>CraigList Jr. HomePage</h1>
  <h2>Check 1, Check 2</h2>
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCISNvrVFMgrJ0NIvTC9C9Jvgz22WvgmCc",
    authDomain: "craigslist-django-fullstack.firebaseapp.com",
    databaseURL: "https://craigslist-django-fullstack.firebaseio.com",
    projectId: "craigslist-django-fullstack",
    storageBucket: "craigslist-django-fullstack.appspot.com",
    messagingSenderId: "832542150098"
  };
  firebase.initializeApp(config);
</script>
</body>

</html>